*{
    padding: 0;
    margin: 0;
}
html {
    background-color: orangered
}
header h1 {
    text-align: right;
    padding: 10px 40px;
    font-family: sans-serif;
}
header img {
    float: left;
    height: 60px;
    margin-top: auto;
    padding:  5px;
    padding-bottom: 8px;
}
nav {
    height: 40px;
}
nav ul {
    list-style: none;
    position: relative;
}
nav ul li {
    float: left;
    border: 2px solid black;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
.bar {
    padding-left: 65px;
    padding-right: 65px;
    margin: auto;
    text-decoration: none;
    color: orange;
}
nav ul ul {
    display: none;
    position: absolute;
}
nav ul ul li {
    float: none;
    padding: 5px 33px;
    margin-left: -2px;
}
nav ul li:hover > ul {
    display: block;
    text-align: center;
}
#app {
    width: 104px;
}
.bar:hover {
    color:lightblue
}
#drop {
    color: orange;
    text-decoration: none;
}
#drop:hover {
    color: lightblue;
}
nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

body {
    width: 1000px;
    border: 3px solid orange;
    margin: auto;
    padding: 0 30px;
    background-color: white;
}
footer {
    height: 60px;
    padding: 10px;
    border-top: 10px solid black;
    width: 971px;
}
.contact {
    float: left;
}
.other {
    float: right;
}
#pic {
    height: 30px;
}
main {
    padding-left: 25px
}
#pts li {
    margin-left: 20px;
}
#pts {
    margin-bottom: 20px;
}
th {
    font-weight: normal;
}
table {
    width: 620px;
    margin: auto;
    border: 2px solid black;
    font-family: serif;
    margin-bottom: 10px;
    
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0;
	}
figcaption {
    font-family: serif;
    text-align: center;
    margin-bottom: 20px;
    
}
main h1, h2 {
    text-indent: 20px;
}
main {
    width: 950px;
    margin-bottom: 20px
}
#deg {
    font-style: italic;
    font-weight: bold;
}
#last {
    text-indent: 20px;
}
main h3 {
    font-size: 100%
}
#deg:hover {
    color:red;
}